@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #020617;
  color: white;
  overflow-x: hidden;
}

section {
  scroll-margin-top: 100px;
}

/* glowing background blobs */

body::before,
body::after {
  content: "";
  position: fixed;
  width: 500px;
  height: 500px;
  border-radius: 9999px;
  filter: blur(120px);
  z-index: -1;
  opacity: 0.25;
}

body::before {
  top: -100px;
  left: -100px;
  background: #06b6d4;
}

body::after {
  bottom: -100px;
  right: -100px;
  background: #7c3aed;
}